<!DOCTYPE html>
{#<html>#}
    {#<head>#}
        {#<meta charset="UTF-8">#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
    {#</head>#}
    {#<body>#}
        {#{% block body %}{% endblock %}#}
        {#{% block javascripts %}{% endblock %}#}
    {#</body>#}
{#</html>#}
<html lang="en" class="no-js">
<!-- Begin Head -->
<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Web Fonts -->
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
          {#integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"#}
          {#integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">#}
    {#<link rel="stylesheet" href="">#}


</head>
<!-- End Head -->

<!-- Body -->
<body>
<div class="content">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand col-sm-3" href="{{ path('home') }}">ФАСАД</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ path('home') }}">Главная <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ path('about') }}">О компании</a>
                    <a class="nav-item nav-link" href="{{ path('factory') }}">Производство</a>
                    <a class="nav-item nav-link" href="{{ path('production') }}">Примеры работ</a>
                    <a class="nav-item nav-link" href="{{ path('dostavka') }}">Оплата и доставка</a>
                    <a class="nav-item nav-link" href="{{ path('contacts') }}">Контакты</a>
                </div>
            </div>
        </nav>
    </header>
    <!--========== END HEADER ==========-->
    {% block content %}

    {% endblock %}
    <!--========== FOOTER ==========-->

    <footer class="page-footer font-small  bg-primary">
        <!-- Footer Elements -->
        <div class="container">

            <!--Grid row-->
            <!--<div class="row">-->

            <!--Grid column-->
            <div class="">

                <!-- Form -->
                <h4 class="text-center">Напишите нам</h4>
                <div class="row justify-content-md-center">
                    <form class="col-sm-7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-envelope"></i></div>
                            </div>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-phone"></i></div>
                            </div>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                   placeholder="Номер телефона">
                        </div>
                        <div class="input-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      placeholder="Ваш вопрос"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">Отправить</button>
                    </form>
                    <!-- Form -->
                </div>
            </div>
            <!--Grid column-->
        </div>


        <!--Grid row-->


        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019
            <span> Разработано: Иван Михалков</span>
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!--========== END FOOTER ==========-->

<!-- Back To Top -->
{% block javascripts %}
    <script src="{{ asset('js/bootstrap.js')}}"></script>
{% endblock %}
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
        {#integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
        {#crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
        {#integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
        {#crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
        {#integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
        {#crossorigin="anonymous"></script>#}
</body>
</html>
